@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 58% 13%;
    --foreground: 180 15% 95%;
    --card: 180 50% 16%;
    --card-foreground: 180 15% 95%;
    --popover: 180 50% 16%;
    --popover-foreground: 180 15% 95%;
    --primary: 178 40% 62%;
    --primary-foreground: 180 71% 8%;
    --secondary: 180 30% 25%;
    --secondary-foreground: 180 15% 95%;
    --muted: 180 30% 25%;
    --muted-foreground: 180 15% 65%;
    --accent: 178 37% 51%;
    --accent-foreground: 180 15% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 30% 25%;
    --input: 180 30% 25%;
    --ring: 178 40% 62%;
    --chart-1: 178 40% 62%;
    --chart-2: 178 37% 51%;
    --chart-3: 185 45% 55%;
    --chart-4: 195 55% 65%;
    --chart-5: 205 65% 75%;
    --radius: 0.5rem;

    /* Custom Sidebar Colors */
    --sidebar-background: 180 65% 10%;
    --sidebar-foreground: 180 15% 85%;
    --sidebar-primary: 178 40% 62%;
    --sidebar-primary-foreground: 180 71% 8%;
    --sidebar-accent: 180 50% 16%;
    --sidebar-accent-foreground: 180 15% 98%;
    --sidebar-border: 180 30% 25%;
    --sidebar-ring: 178 40% 62%;
  }

  .dark {
    --background: 180 58% 13%;
    --foreground: 180 15% 95%;
    --card: 180 50% 16%;
    --card-foreground: 180 15% 95%;
    --popover: 180 50% 16%;
    --popover-foreground: 180 15% 95%;
    --primary: 178 40% 62%;
    --primary-foreground: 180 71% 8%;
    --secondary: 180 30% 25%;
    --secondary-foreground: 180 15% 95%;
    --muted: 180 30% 25%;
    --muted-foreground: 180 15% 65%;
    --accent: 178 37% 51%;
    --accent-foreground: 180 15% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 30% 25%;
    --input: 180 30% 25%;
    --ring: 178 40% 62%;
    --chart-1: 178 40% 62%;
    --chart-2: 178 37% 51%;
    --chart-3: 185 45% 55%;
    --chart-4: 195 55% 65%;
    --chart-5: 205 65% 75%;
    
    /* Custom Sidebar Colors */
    --sidebar-background: 180 65% 10%;
    --sidebar-foreground: 180 15% 85%;
    --sidebar-primary: 178 40% 62%;
    --sidebar-primary-foreground: 180 71% 8%;
    --sidebar-accent: 180 50% 16%;
    --sidebar-accent-foreground: 180 15% 98%;
    --sidebar-border: 180 30% 25%;
    --sidebar-ring: 178 40% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
